amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
Django==1.9
django-celery-results==1.0.1
django-environ==0.4.1
django-filter==1.0.1
djangorestframework==3.5.3
facebook-sdk==2.0.0
kombu==4.0.2
Markdown==2.6.7
pytz==2016.10
requests==2.12.4
six==1.10.0
vine==1.1.3
